# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
ENV/

# Secrets
.env

# Git (в Docker не нужен)
.git/
.gitignore

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp

# Frontend junk
node_modules/

# Builds
dist/
build/
*.egg-info/
