# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
ENV/

# Secrets
.env

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp

# Builds
dist/
build/
*.egg-info/
